# Create a .env, .env.hml or .env.production file based on this template and fill in the values.
#  Do not commit .env files with real values to version control.

COGNITO_USER_POOL_ID=
COGNITO_USER_POOL_CLIENT_ID=
COGNITO_REGION=
API_BASE_URL=
API_BASE_URL_AUTH=
NODE_ENV=